*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    
}

html{
    font-size: 62.5%;
}

body{
   background-color: #ccc;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
  /* background-image: url('job-app.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;*/
   background: linear-gradient(145deg, #15f5ff 20%,#716aff 80%);
   font-family:sans-serif;
}

.main{
   /* background-color:#152f55;*/
   background-color: rgba(18,60,102,0.5);
    min-height: 550px;
    padding:12px;
    display: flex;
    box-shadow: 4px 4px 5px rgba(0,0,0,.5);
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    position: relative;
}

.head-text{
    position:absolute;
    top: 25px;
    left: 15px;
    font-size: 12px;
    margin-top:4px;
}


input,textarea{
    border:  solid white;
    background-color: transparent;
    color: white;
}

textarea::placeholder,input::placeholder,label,.head-text{
    color:white;
}

.form-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 25px;
    
}

.form-items1{
    display:flex;
    flex-direction: column;
    margin: 5px 5px;
}

.form-items1 input,select{
    width: 150px;
    padding: 6px 10px;
    border-radius: 4px;
}

.form-items2{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
}
.form-items2 textarea{
    padding: 6px 10px;
}

.form-items2 textarea::placeholder{
    font-size: 12px;
    font-weight: 500;
}

.form-items3{
    display:flex;
    flex-direction: column;
    margin: 5px 5px;
}

.form-items3 input,select{
    width:150px;
    padding: 6px 10px;
}

.form-btn{
    display: flex;
    justify-content:flex-end;
    margin-top: 20px;
}

.form-btn button{
    background-color: red;
    color:white;
    font-size: 18px;
    padding: 6px 10px;
    font-weight: 500;
    border: none;
    border-radius:4px;
    transition: transform .4s ease-in;
    box-shadow: 2px 2px 4px rgba(0,0,0,.5);
    }

.form-btn button:hover{
    transform: rotate(10deg);
    transition: .4s ease-out;
    }

.form-box input::placeholder{
    font-size: 12px;
    font-weight: 350;
}

.form-box label{
    margin: 5px;
    font-size: 10px;
}

.form-box textarea:focus, input:focus{
    outline: 1px solid #5597ff;
}
